* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --orange: #ff8c00;
  --grey: #333333;
}
.wrapper {
  padding: 1% 4%;
}

img {
  width: 100%;
  height: auto;
  max-width: 750px;
}
