.h1 {
  text-align: left;
  color: var(--orange);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin-bottom: 1rem;
}

.img {
  width: 100%;
  max-width: 400px;
}

.p {
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 1.5;
  font-size: 17px;
  color: var(--grey);
}
