.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  margin: 3rem;
}

.ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.li {
  margin: 0 10px;
}

.li:first-child {
  margin-left: 0;
}

.li:last-child {
  margin-right: 0;
}

.a {
  text-decoration: none;
  color: var(--grey);
  font-size: 18px;
  font-weight: bold;
}
.a.active {
  color: var(--orange);
}

@media only screen and (max-width: 600px) {
  .nav {
    flex-direction: column;
    height: auto;
    padding: 20px;
  }

  .ul {
    flex-direction: column;
    align-items: flex-start;
  }

  .li {
    margin: 10px 0;
  }
}
