.photogrid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
}

.photogrid img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

/* .photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
}

@media only screen and (max-width: 600px) {
  .photo-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
    margin: 1rem;
  }
} */
